<div>Hi <%= @user.name %></div>
<div>To reset your password, click on the link below</div>

<%= link_to 'Reset password', reset_forget_password_url(password_reset_token: @user.password_reset_token) %>
