<div class="profile">
  <%= image_tag user_profile_image_link(@user), class: 'profile-img' %>

  <div>Name: <%= @user.name %></div>
  <div>Username: <%= @user.username %></div>

  <div>Topics of interests</div>
  <div class="topics-container">
    <%= render partial: 'topics/topic', collection: @user.topics %>  
  </div>
</div>
