<div class="form" >
  <div>Forget your password?</div>
  <div>Please enter your registered email and we'll send you password reset link</div>
  <%= form_with do |form| %>
    <div class="field">
      <%= form.label :email, 'Enter your registered email' %>
      <%= form.text_field :email %>
    </div>

    <div class="submit-field">
      <%= form.submit 'Reset Password' %>
    </div>
  <% end %>
</div>
