.admins {
  .links {
    display: flex;
    flex-direction: column;
    a {
      margin: 10px;
    }
  }
  .entities-container {
    width: 70vw;
    .entity-container {
      padding: 10px;
      margin: 5px;
      border: 2px solid black;
      display: flex;
      justify-content: space-around;
      .entity-container-left {
        width: 70%;
      }
      .entity-container-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
