/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
header.main { 
  background-color: rgb(173, 68, 19);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  div {
    font-size: 32px;
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      font-size: 16px;
      text-decoration: underline;
      color: white;
    }
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .notice {
    color: rgb(173, 68, 19);
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  } 
  .logout-button {
    background-color: white;
    color: #AD4413;
    margin-right: 20px;
    font-size: 20px;
  }
  .hidden {
    display: none;
  }
  .page-heading {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
  }
}
a {
  color: rgb(173, 68, 19);
  text-decoration: unset;
  margin: 10px;
}
.white {
  color: white;
}
.form {
  font-size: 24px;
  margin-top: 25px;
  border: 2px solid black;
  background-color: #FAD1BE;
  padding: 35px;
  border-radius: 20px;
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .field {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 0;
    input {
      margin: 5px;
      border-radius: 5px;
    }
  }
  .submit-field {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .upload-button {
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 30%;
    font-size: 24px;
  }
  input[type='submit'] {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    margin: 5px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: rgb(173, 68, 19);
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(173, 86, 19);
  }
  .form-footer {
    margin-top: 10px;
    text-align: center;
  }
}
button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: rgb(173, 68, 19);
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(173, 86, 19);
}
.form-field-error {
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.field-with-errors {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
}
.trix-button-row {
  overflow-x: unset !important;
}
