.notifications-container {
  width: 32px;
  position: relative;
  cursor: pointer;
  .notification-bell {
    width: 32px;
    position: relative;
  }
  .red-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .hide {
    display: none !important;
  }
  .notification-box {
    display: block;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    a {
      color: black;
      text-align: center;
    }
    .notification {
      width: 100%;
      margin: 0;
      border: 2px solid black;
      a {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      .notification-text {
        color: black;
        font-size: 16px;
      }
    }
  }
}
.notifications-list-container {
  width: 80vw;
  .notification {
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
  }
}
